DATABASE_URL="Sua URL de banco de dados"
SECRET_KEY= "Sua chave secreta para crição de tokens jwt seguros"
ALGORITHM="Seu algoritmo de criação de tokens jwt"
ACCESS_TOKEN_EXPIRE_MINUTES="Tempo de expiração dos token jwt"